@import 'bootstrap/dist/css/bootstrap';

.search-area { padding-top: 50px; }
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.results-box { display: inline-block; }
